[submodule "themes/devfest-theme-hugo"]
	path = themes/devfest-theme-hugo
	url = https://github.com/GDGToulouse/devfest-theme-hugo.git
[submodule "themes/devfest-theme-hugo-2020"]
	path = themes/devfest-theme-hugo-2020
	url = https://github.com/GDGToulouse/devfest-theme-hugo.git
