@import "themes/devfest-theme-hugo/src/styles/variables";
@import 'node_modules/sass-mq/mq';
@import "partials/konfetti";

// Custom CSS
.jumbo .jumbo-cover {
  background-image: url("/images/backgrounds/back-neutre.webp");

  @include mq($until: sm) {
    background-image: url("/images/backgrounds/back-neutre-540.webp");
  }

  @include mq($until: md) {
    background-image: url("/images/backgrounds/back-neutre-720.webp");
  }

  @include mq($until: lg) {
    background-image: url("/images/backgrounds/back-neutre-960.webp");
  }

  @include mq($until: xl) {
    background-image: url("/images/backgrounds/back-neutre-1140.webp");
  }
}

.no-webp .jumbo .jumbo-cover {
  background-image: url("/images/backgrounds/back-neutre.jpg");

  @include mq($until: sm) {
    background-image: url("/images/backgrounds/back-neutre-540.jpg");
  }

  @include mq($until: md) {
    background-image: url("/images/backgrounds/back-neutre-720.jpg");
  }

  @include mq($until: lg) {
    background-image: url("/images/backgrounds/back-neutre-960.jpg");
  }

  @include mq($until: xl) {
    background-image: url("/images/backgrounds/back-neutre-1140.jpg");
  }
}

.jumbo .inner p {
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: var(--space-3);
  text-shadow: 0 1px rgba(0, 0, 0, .5);
  box-shadow: 0 0 var(--space-3) rgba(0, 0, 0, .125);
}