<picture class="photo">
	<source srcset="{{ relURL (path.Join "images" "team" .key) }}.webp" type="image/webp">
	<source srcset="{{ relURL (path.Join "images" "team" .photo) }}" type="image/jpeg">
	<img src="{{ relURL (path.Join "images" "team" .photo) }}" alt="">
</picture>

<div class="label">
	<h3>{{ .title }}</h3>
	<h4>{{ .subtitle }}</h4>
	<ul class="socials">
		{{ range .socials }}
		<li>
			<a class="social" rel="noreferrer" href="{{ .link }}" target="_blank">
				{{ partial "icon.html" (lower .name) }}
				{{- .name -}}
			</a>
		</li>
		{{ end }}
	</ul>
</div>
